ul {
	list-style: none;
	padding: 0;
	text-align: center;
	margin: auto;
}

.description {
	width: 300px;
}

.price {
	border: none;
}

li {
	border: 1px solid lightgrey;
	padding: 20px;
	border-bottom: none;
}

.links {
	text-indent: 10px;
	padding: 10px;
	margin-left: 10px;
}

.links a {
	padding: 15px;
}

a {
	text-decoration: none;
	color: #7D7D7D;
}

.logo {
	color: #5B6269;
	padding-right: 10px;
}

.pricing {
	color: black;
}

.background {
	height: 410px;
	background-image: url(background.jpg);
	background-size: cover;
	overflow: hidden;
	font-family: helvetica;

}

.background p {
	font-size: 50px;
	color: white;
	text-shadow: -1px 1px 1px black;
	text-align: center;
	display: block;
	margin: 0;
	padding-top: 150px;
}

.plans {
	margin-top: 30px;
	font-family: helvetica;
}

.price {
	display: inline-block;
	margin: auto;
	vertical-align: middle;	
}

.plan-one {
	background-color: #5A9247;
	border: none;
}

.plan-two {
		background-color: #2D488A;
		border: none;
}

.plan-three {
		background-color: #101010;
		border: none;
}

.plan-type {
	border-bottom: none;
	padding: 5;
	color: white;
}

.cost {
	border-top: none;
	border-bottom: none;
	padding: 0;
	font-size: 100px;
	color: white;
}

.per {
	border-top: none;
	padding: 5;
	color: white;
}

.list {
	background: #F7F7F7;
}

.button {
	color: black;
	border-radius: 20px;
	background: #eeeeee;
	padding: 10px 20px 10px 20px;
	border: 1px solid lightgrey;
	font-weight: bold;
}
.button:hover {
	background: lightgrey;
}

.choose {
	border-bottom: 1px solid lightgrey;
	background: white;
}

