ul {
	list-style: none;
	padding: 0;
	text-align: center;
	margin: auto;
}

ul div p {
	margin: 0;
}

.price {
	border: none;
}

li {
	border: 1px solid grey;
	padding: 20px;
}

.links {
	text-indent: 10px;
	padding: 10px;
	margin-left: 10px;
}

.links a {
	padding: 15px;
}

a {
	text-decoration: none;
	color: #7D7D7D;
}

.logo {
	color: #5B6269;
	padding-right: 10px;
}

.pricing {
	color: black;
}

.background {
	height: 410px;
	background-image: url(background.jpg);
	background-size: cover;
	overflow: hidden;
	font-family: helvetica;

}

.background p {
	font-size: 50px;
	color: white;
	text-shadow: -1px 1px 1px black;
	text-align: center;
	display: block;
	margin: 0;
}

.plans {
	margin-top: 30px;
}

.price {
	display: inline-block;
	margin: auto;
	vertical-align: middle;	
}

.plan-one {
}

.plan-two {
}

.plan-three {
}

.button {
	color: black;
	border-radius: 20px;
	background: #eeeeee;
	padding: 10px 20px 10px 20px;
	border: 1px solid lightgrey;
	font-weight: bold;
}
.button:hover {
	background: lightgrey;
}

